<%= div_for blog_post, :class => "section" do %>
  <div class="actions">
    <%= button_to_delete [@user, blog_post] if blog_post.may_destroy? %>
    <%= button_to_edit  blog_post, {:controller => "blog_posts", :action => "edit", :id => blog_post.id} if blog_post.may_destroy? %>
  </div>

  <h3 class="subject">
    <%=h blog_post.subject %>
  </h3>
  <span class="timestamp">
    <%= format_date(blog_post.created_at) %>
  </span>

  <div class="body">
    <%= rich_format blog_post.body %>
  </div>

  <div class="illustrations">
    <% blog_post.illustrations.each do |illustration| %>
      <%= div_for illustration do %>
        <%= photo_image_tag(illustration.photo) %>
        <% unless illustration.caption.blank? %>
          <div class="caption" style="width:<%= illustration.photo.width %>px">
            <div class="caption-text">
              <%=h illustration.caption %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="clear-both"></div>
  </div>

  <div class="blog-comments">
    <h3><%=t '.comments' %></h3>
    <%= render :partial => "comments/comments", :locals => {:commentable => blog_post, :allow_comment => true} %>
  </div>
<% end %>
