<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Edit Contract</h2>
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeInRight" id="sortable-view">
  <div class="col-lg-12">
    <div class="container-fluid contract no-padding">
      <%= render 'form' %>
    </div>
  </div>
  <% content_for :contract_right_section do %>
    <div class="form-group right-section-fix">
      <div class="col-sm-12 search-form">
        <span id="break" data-toggle="tooltip" title="Insert page break line" draggable="true" ondragstart="dragStart(event)"></span>
        <%= form_tag search_repository_contracts_path, remote: true do %>
          <div class="form-group">
            <%= select_tag('section_type', options_for_select(section_options, params[:r]), prompt: 'Select...', class:  'form-control')%>
          </div>
          <div class="form-group search-div <%= 'hide-field' if params[:r].blank? %>" >
            <div class="col-sm-10 no-padding">
              <%= text_field_tag('search', nil, placeholder: 'search text..', class:  'form-control')%>
            </div>
            <div class="col-sm-2">
              <%= button_tag class:  'btn btn-sm btn-success' do %>
                <i class="fa fa-search" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="cliearfix"></div>
      <div class ="col-sm-12 sortable1" id="sectionTypeContent">
        <!-- if clause already selected -->
        <%= render 'sections/index' if params[:r] == 'clauses' %>
        <%= render 'definitions/index' if params[:r] == 'definitions' %>
        <%= render 'parties/index' if params[:r] == 'parties' %>
        <%= render 'contract_free_texts/index' if params[:r] == 'free_text' %>
      </div>
    </div>
  <% end %>
</div>
<script  type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $("#nestable1").attr("ondrop","dropped(event, this.id)").attr("ondragover","dragOver(event, this.id)").attr("ondragleave","stopDrop(event, this.id);")
    alpha_divs = $(".page-fillup.div-page-break")
    alpha_divs.removeClass("div-page-break")
    alpha_divs.attr("style","")
    edited_body = $('form .note-editable').html()
    $('form #contract_body').val(edited_body);
  })
  
  function dragOver(ev, id) {
    ev.preventDefault();
  }

  function stopDrop(ev, id){
    ev.preventDefault();
  }

  function dragStart(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }

  function dropped(ev, id) {
     $(document.elementFromPoint(ev.x,ev.y)).append("<p class=\"space-p-bar\"></p><hr class='page-dash-line space-p-bar'><p style='page-break-after:always;clear:both;'></p>")
     $("p.space-p-bar").each(function() {
       $(this).css("margin-bottom","0")
       page_top = $("#nestable1").offset().top
       ele_top = $(this).offset().top
       mar_bot = ((1-((Math.abs(ele_top-page_top)*0.268/282)-parseInt((Math.abs(ele_top-page_top)*0.268/282))))*282)
       $(this).css("margin-bottom",""+mar_bot+"mm")
    })
   }
</script>

